html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
}
body.is-fixed {
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  background-color: #333;
  padding: 0 20px;
}
.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 54px;
}
.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  font-size: 1.4rem;
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
  text-transform: capitalize;
}
.header__item:nth-child(n+2) {
  margin-left: 20px;
}
.header__link {
  position: relative;
  display: block;
  padding: 20px 0;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #159741;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.main {
  margin-top: 56.1px;
}

.is-pc {
  display: none;
}

.cmn-head {
  position: relative;
  padding-bottom: 12px;
  text-align: center;
}
.cmn-head.cmn-head--white {
  color: #fff;
}
.cmn-head.cmn-head--white::after {
  background-color: #fff;
}
.cmn-head.cmn-head--white .cmn-head__sub {
  color: #fff;
}
.cmn-head::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #159741;
}
.cmn-head__sub {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #159741;
  font-weight: 700;
  line-height: 1.4285714286;
}
.cmn-head__main {
  font-size: 3.2rem;
  line-height: 1.1875;
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
  text-transform: capitalize;
}

.footer {
  position: relative;
  padding-top: 48px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
}
.footer__sns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__sns-item:nth-child(n+2) {
  margin-left: 40px;
}
.footer__sns-link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  border: 1px solid #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__sns-icon {
  font-size: 2.4rem;
  color: #fff;
}
.footer__nav {
  margin-top: 40px;
}
.footer__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav-item {
  line-height: 1.1875;
  text-transform: capitalize;
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
}
.footer__nav-item:nth-child(n+2) {
  margin-left: 32px;
}
.footer__nav-link {
  position: relative;
  display: block;
  padding-bottom: 3px;
}
.footer__nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #159741;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.footer__logo {
  margin: 34px auto 0;
  width: 166px;
}
.footer__copyright {
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 1.4166666667;
  text-align: center;
}
.footer__top {
  position: absolute;
  top: 0;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
}
@media only screen and (min-width: 576px) {
  /* s */
}
@media only screen and (min-width: 768px) {
  /* m */
  .header {
    padding: 15px 20px;
  }
  .header__logo {
    width: 80px;
  }
  .header__item {
    font-size: 1.6rem;
  }
  .header__item:nth-child(n+2) {
    margin-left: 40px;
  }
  .main {
    margin-top: 88.4px;
  }
  .is-sp {
    display: none;
  }
  .is-pc {
    display: inline;
  }
  .cmn-head__sub {
    font-size: 1.6rem;
  }
  .cmn-head__main {
    font-size: 4rem;
  }
  .footer {
    padding-top: 56px;
  }
  .footer__sns-link {
    width: 40px;
    height: 40px;
  }
  .footer__sns-icon {
    font-size: 2.2rem;
  }
  .footer__nav-item:nth-child(n+2) {
    margin-left: 40px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
  .footer__top {
    right: 60px;
    width: 120px;
  }
}
@media only screen and (min-width: 1024px) {
  /* l */
  body {
    font-size: 1.8rem;
  }
  .header {
    padding: 15px 70px 15px 35px;
  }
  .header__logo {
    width: 115px;
  }
  .header__item {
    font-size: 1.8rem;
  }
  .header__link:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .cmn-head__sub {
    font-size: 1.8rem;
  }
  .cmn-head__main {
    font-size: 4.8rem;
  }
  .footer__sns-link {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .footer__sns-link:hover {
    background-color: #fff;
  }
  .footer__sns-link:hover .footer__sns-icon {
    color: #333;
  }
  .footer__sns-icon {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .footer__nav-link:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@media only screen and (min-width: 1280px) {
  /* xl */
}
/*# sourceMappingURL=style.css.map */